@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

@layer components {
  tbody > tr:first-child {
    @apply border-t border-neutral-300;
  }

  tbody > tr:not(:last-child) {
    @apply border-b border-neutral-300;
  }

  tr > th:first-child,
  td:first-child {
    @apply border-r border-neutral-300;
  }

  tr:nth-child(even) {
    @apply bg-neutral-200;
  }

  th,
  td {
    @apply px-[14px] py-4 text-sm text-center;
  }
}

@keyframes enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-enter {
  animation: enter 0.2s ease-out;
}

@keyframes leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animate-leave {
  animation: leave 0.15s ease-in forwards;
}
